[submodule "common"]
	path = common
	url = https://github.com/SmartCGMS/common.git
[submodule "core"]
	path = core
	url = https://github.com/SmartCGMS/core.git
[submodule "console"]
	path = console
	url = https://github.com/SmartCGMS/console.git
[submodule "desktop"]
	path = desktop
	url = https://github.com/SmartCGMS/desktop.git
[submodule "deps/xlnt"]
	path = deps/xlnt
	url = https://github.com/SmartCGMS/xlnt.git
[submodule "deps/ExcelFormat"]
	path = deps/ExcelFormat
	url = https://github.com/SmartCGMS/ExcelFormat.git
[submodule "deps/Eigen3"]
	path = deps/Eigen3
	url = https://github.com/SmartCGMS/Eigen3.git
